@font-face {
    font-family: "NunitoExtraLight";
    src: url("nunito/Nunito-ExtraLight.ttf");
}

@font-face {
    font-family: "NunitoLight";
    src: url("nunito/Nunito-Light.ttf");
}

body {
    background-color: white;
}

h1 {
    font-family: "NunitoExtraLight";
    font-size: 4.0rem;
    color: #5764c6;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    font-family: "NunitoLight";
    font-size: 1.5rem;
    color: #727e96;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
}

p a {
    color: #414752;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

p a:visited {
    color: #414752;
}

p a:hover {
    color: #5764c6;
}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 16.0rem;
    width: 16.0rem;
}

.imageContainer {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon {
    color: #5764c6;
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.icon:hover {
    opacity: 0.4;
}